name: Build

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

defaults:
  run:
    working-directory: ./Spot.IM-Development

jobs:
  build:
    runs-on: macos-12

    steps:
      - uses: actions/checkout@v2

      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_14.0.app

      - name: Xcode version
        run: /usr/bin/xcodebuild -version

      - name: Pod version
        run: |
          pod --version

      - name: Pod install
        run: |
          pod install --repo-update --clean-install

      - name: SDK - Build
        run: |
          xcodebuild \
          -workspace Spot-IM.Development.xcworkspace \
          -scheme SpotImCore \
          -sdk iphonesimulator \
          -destination 'platform=iOS Simulator,name=iPhone 14 Pro' \
          build

      - name: Sample App - Build
        run: |
          xcodebuild \
          -workspace Spot-IM.Development.xcworkspace \
          -scheme Spot-IM.Development \
          -sdk iphonesimulator \
          -destination 'platform=iOS Simulator,name=iPhone 14 Pro' \
          build
